*{
    margin: auto;
    height: auto;
}
body {
    background-color: rgb(10, 11, 48);
    color: #f6f7f9;
    margin: 0;
    font-family: Arial, sans-serif;
}
.body {
    width: 800px;
    margin: 20px auto;
    margin-top: 70px;
}
.navbar {
    background-color: rgb(5, 122, 5);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 40px;
}
.navbar-a {
    color: white;
    padding: 10px;
    border-right: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    background-color: #4caf50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;

}
.body .isi {
    display: block;
    background-color: rgb(31, 41, 55);
    border-radius: 25px;
    height: auto;
    padding: 20px 40px;
    box-shadow: 10px 5px 4px black;

}
.isi h1 {
    margin: 40;
    
}
.judul{
    color: white;
    text-align: center;
}
.deskripsi {
    overflow: hidden;
    height: 59px;
    color: #b3b3b3;
}
.icon {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
.edit {
    background-color: #2196f3;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.hapus {
    background-color: #f44336;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.lihat {
    color: #4caf50;
    margin-top: 10px;
    display: block;
}
a{
    text-decoration: none;
    color: rgb(7,11,193);
}
a:active{
    color: red;
}
img{
    width: 50%;
}
.judul{
    margin-bottom: 100px;
    text-align: center;
    display: block;
}
.penulis{
    color: #2196f3;
}
.img, .video{
    text-align: center;
}
iframe{
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tanggal{
    margin-top: 20px;
    margin-bottom: 20px;
}